<launch>
	<arg name="port" default="/dev/ttyS0" />
	<arg name="baud" default="9600" />
	<arg name="frame_id" default="gps" />
	<arg name="use_GNSS_time" default="False" />
	<arg name="time_ref_source" default="gps" />
	<arg name="useRMC" default="False" />

	<node name="gnss_node" pkg="ddbot" type="nmea_serial_driver" output="screen">
		<param name="port" value="$(arg port)"/>
		<param name="baud" value="$(arg baud)" />
		<param name="frame_id" value="$(arg frame_id)" />
		<param name="use_GNSS_time" value="$(arg use_GNSS_time)" />
		<param name="time_ref_source" value="$(arg time_ref_source)" />
		<param name="useRMC" value="$(arg useRMC)" />
	</node>

	<node name="compass_node" pkg="ddbot" type="compass_node" />
	<node name="encoder" pkg="ddbot" type="encoders_driver_node" />

	<node name="kalman_node" pkg="ddbot" type="kalman.py" />
	<node name="controller" pkg="ddbot" type="controller_node">
		<param name="ctype" value="kalman" type="double" />
		<param name="kp" value="2.0" type="double" />
		<param name="kd" value="2.0" type="double" />
	</node>
	<node name="waypoint" pkg="ddbot" type="waypoint_node">
		<param name="x0" value="10" type="double"/>
		<param name="y0" value="-5" type="double"/>
	</node>
	<node name="command_controller" pkg="ddbot" type="command_controller.py" />
	<node name="thruster" pkg="ddbot" type="thruster.py" />
</launch>
